body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}
#attachment{
    cursor: pointer; text-decoration: underline; color: blue;
}

#left-column {
    width: 25%;
    background-image: url(images/navbg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

#name {
    color: white;
    height: 15%;
    margin-bottom: 10px;
    text-align: center;
}

#name a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#name b {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bold;
}

#profile-img {
    height: 37%;
    width: 80%;
    margin-bottom: 15px;
    pointer-events: none;
}

#profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: #ffffff 0px 0px 1px;
}

#profile-desc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 15%;
    padding: 0px 20px;
    margin-bottom: 10px;
    text-align:  center;
    font-size: small;
    font-weight: bold;
    
}

#socials {
    height: 15%;
    margin-bottom: 10px;
    margin-left: 7px;
}

#socials .fa {
    justify-content: space-evenly;
    padding: 20px;
    font-size: 27px;
    height: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 1px;
    border: 2px solid #999999;
    border-radius: 50px;
    color: #999999;
    transition: color 0.3s ease;
}

#socials .fa:hover {
    color: #30ec8c;
    border-color: #30ec8c;
    cursor: default;
}

#mail-button {
    background-color: #30ec8c;
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 7px 0px;
    height: 7%;
    border-radius: 50px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    
    
}

a[href="#section7"] {
    text-decoration: none;
  }

#mail-button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid #30ec8c;
}

#right-column {
    width: 75%;
    color: rgb(255, 255, 255);
    overflow-y: auto;
    padding: 1rem 13rem 0rem 10rem;
    box-sizing: border-box;
}

.heading {
    display: block;
    height: 5rem;
    padding-top: 10px;
    
}

.heading a {
    margin-top: 1.5rem;
    color: #fff;
    background-image: url(images/navbg.jpg);
    background-position: center;
    background-size: cover;
    font-weight: bold;
    border: 1px solid #999999;
    padding: 10px 15px 10px 0px;
    height: fit-content;
    border-radius: 20px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading .fa {
    padding: 0px;
    font-size: 20px;
    height: 5px;
    width: 25px;
    text-align: center;
    margin: 30px 0px 0px 12px;
    border-radius: 50px;
   
    transition: color 0.3s ease;
}


#section1, #section2, #section3, #section4, #section5, #section6, #section7 {
    height: 100%;
    color: #999999;
    padding-bottom: 100px;
}

#section1 h1{
    color: white;
    
}
#section1 h4{
    color: rgb(133, 133, 133);
    font-weight: lighter;
    font-size: large;
    
}
#section2 h1, #section7 h1{
    font-size: 50px;
    font-weight: lighter;
    color: white;
}

#section5{
    cursor: default;
    height: 80rem;
}
#section6, #section7 {
    
    height: fit-content;
    padding-bottom: 100px; ;
}

.timeline {
    width: 100%;
    max-height: 70%;
    margin: 50px auto;
    position: relative;
    overflow-y: scroll;
    white-space: nowrap;
    overflow-x: hidden

}

.timeline.scroll{
border-radius: 10px;
}

.event {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0px 20px 10px 0px;
    height: fit-content;
    background-color: #0099ff00;
    color: #fff;
    border-radius: 5px;
    
}

.sub{
    display: inline-flex;
    width: 100%;
    
}

.point{
    background-color: #30ec8b00;
    width: 5%;
    color: #555;
}

.point b{
    border-left: 1px solid #555;
    padding:3px 0px 55rem 0px;
    margin: 0px 0px 0px 6px;
}


.point :hover{
    color: #30ec8b;
    transition: 0.5s ease;
}

.content{
    margin-top: -15px;
background-color: #ff000000;
width: 90%;
display: block;
}

.content e{
    color: #555;
    background-color: #ffffff;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    font-size: 17px;
    display: block;
    margin-bottom: 20px; 
}

.content f{
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    margin-top: 35px;
    padding-left: 20px;
}

.content g{
    color: #555;
    display: block;
    padding-left: 20px;
    margin-bottom: -10px;
}

.timeline::-webkit-scrollbar {
    width: 5px;
}

.timeline::-webkit-scrollbar-thumb {
    background-color: #30ec8c;
    border-radius: 10px;
}

.timeline::-webkit-scrollbar-track {
    background-color: #55555592;
    border-radius: 10px;
}




/*CERTIFICATES*/
.image-grid {
    display: inline-block;
   
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
    padding: 20px;
   
}

.grid-item {
    width: 300px;
    height: 200px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: auto;
    z-index: 100000;
}

.modal img {
    width:80%;
    height: 80%;
    padding-top: 5%;
    padding-left: 10%;
}

.close {
    color: #000000;
    background-color: #30ec8b;
    border-radius: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    padding: 7px 5px 10px 15px;
    font-size: 30px;
    cursor: pointer;
}
/*CERTIFICATES*/


/*Skills*/

.grid-container.scroll{
    border-radius: 10px;
    color: #30ec8b;
    }

    .grid-container {
        width: 100%;
        padding-right: 10px;
        max-height: 70%;
        margin: 50px auto;
        position: relative;
        overflow-y: scroll;
        white-space: nowrap;
        overflow-x: hidden;
        display: grid;
        transition-property: 3s ease;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    
  
    .grid-container::-webkit-scrollbar {
        width: 5px;
    }
    
    .grid-container::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 6px;
    }
    
    .grid-container::-webkit-scrollbar-track {
        background-color: #50505000; 
        border-radius: 8px; 
    }



.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px ;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: none;
}

.grid-container :hover{
    border-color:  #30ec8b;
    cursor: default;
}


.box img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
  
}

.box p{
    background-color: rgb(255, 255, 255);
    color: #555;
    margin: 10px -10px 10px -10px;
}


/*Skills*/

/*Projects*/
.container {
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#col p {
    cursor: default;
    position: relative;
    top: -17%;
    left: 2%;
    width: fit-content;
    font-weight: bolder;
    font-size: x-large;
    padding: 7px;
    margin: 0px;
    border-radius: 50px;
    color: #555;
    z-index: 1000;
    box-shadow: 0px 0px 10px #555;
    background-color: #fff;
}

.column {
    cursor: default;
    
    /* flex: 3; */
    border-radius: 10px;
    width: auto;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid #555;
}

.column:hover{
    transition: 1s ease;
    border-color: #30ec8b;
    cursor: default;
}

.full-width {
    height: 300px;
    flex-basis: 100%;
    cursor: default;
}

#col img {
    cursor: default;
    filter: blur(2px);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    z-index: -100000;
    
}





/*Projects*/

#static-rectangle {
    background-image: url(images/navbg.jpg);
    background-position: left;
    border: 1px solid #999999;
    position: absolute;
    border-radius: 50px;
    top: 25%;
    right: 5%;
    width: 50px;
    height:fit-content;
    padding: 0px 0px 30px 0px;
}

#static-rectangle b {
    color: white;
    height: 10px;
    z-index: 1;
    border: 1px solid #999999;
    position: absolute;
    border-radius: 50px;
    font-size: 45px;
    top: -8rem;
    width: 40px;
    height: 50px;
    margin: 0px 0px 0px -15px;
    padding: 0px 0px 0px 13px;
}

#static-rectangle .fa {
    padding: 0px;
    font-size: 20px;
    height: 5px;
    width: 25px;
    text-align: center;
    margin: 30px 0px 0px 12px;
    border-radius: 50px;
    color: #999999;
    transition: color 0.3s ease;
}

#static-rectangle .fa:hover {
    color: #30ec8c;
    border-color: #30ec8c;
    cursor: default;
}



/*form*/

form {
    display: flex;
      background-color: #ffffff00;
      padding: 20px;
      border-radius: 10px;
   
      width: 100%;
      height: 100%;
    
      gap: 20px;
    }

    .leftcol{
        width: 40%;
        padding-right: 20px;
        height: 100%;
    }

    .rightcol{
        width: 40%;
        display: inline-block;
    }

    label {
        color: white;
      display: block;
      margin-bottom: 8px;
      font-size: larger;
    }

    input {
        
        font-size: medium;
      width: 100%;
     height: 51%;
      padding: 8px;
      margin-bottom: 20%;
      border: none;
      word-wrap: break-word;
     color: #737373;
      background-color: #30ec8b00;
    }



    #message{
        margin-bottom: 10%;
        
    }

    input[type="file"] {
      display: none;
      padding-bottom: 10px;
      
      
    }

    label[for="attachment"] {
        padding-top: 10px 0px 10px 0px;
      
      color: #30ec8b;
      margin-bottom: 16.5%;
    }

    #fileStatusLabel {
      margin-left: 5px;
      
    }

    button {
      background-color: #30ec8b;
      color: #000000;
      padding: 10px;
      border: none;
      border-radius: 4px;
      margin: 0px 0px 0px 0px;
      width: 100%;
      transition: 0.5s ease;
    }

    button:hover {
      background-color: #ffffff00;
      box-sizing: border-box;
      color: white;
      border: 1px solid #30ec8b;
    }


/*form*/



@import url('https://fonts.cdnfonts.com/css/calligraphy-2');



   



/* navbar */
.container {
    display: flex;
    
}

.side-nav {
    height: 50%;
    width: 0%;
    position: fixed;
    border-radius: 10px 0px 0px 10px;
    top: 170px;
    right: 0;
    bottom: 150px;
    background-image: url(images/navbg.jpg);
    background-position: left;
    background-size: cover;

    background-repeat: no-repeat;
    transition: 0.5s;
    padding-top: 100px;
}

.side-nav a {
    
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #30ec8b;
}

.nav-icon {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
}

.content {
    flex: 1;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;
    width: 50%;}
    .side-nav a {font-size: 18px;}
}